body{
  background-color: #84B6F4;
  padding: 15px;
}

.cabecera{
  width: 100%;
  background-color: #DFCAE1;
}

.tcabecera{
  width: 100%;
  text-align: center;
}

.examen{
  margin-top: 15px;
  padding: 10px;
  margin-bottom: 15px;
}

.bordeycentrado{
  border: white 4px dashed;
  font-size: 25px;
  text-align: center;
  color: white;
}
.divestilo{
  margin-left: 6%;
  margin-right: 6%;
  border: red 4px dashed;
  padding: 3px;
  text-align: left;
  color: black;
}
.fila{
  border: white 3px solid;
  font-size: 25px;
  text-align: center;
}

.tabla{
  width: 100%;
}

.celdas1{
  width: 20%;
  border: white 3px solid;
  font-size: 25px;
}

.celdas2{
  width: 80%;
  border: white 3px solid;
  text-align: center;
  font-size: 25px;
}

.fondoVerde{
  background-color: #1ABC9C;
}

.fondoAzul{
  background-color: #00FFFF;
}

.fondoMorado{
  background-color: #9B59B6;
}
